
/.vs
/Bank.Api/Bank.Api/obj
/Bank.Api/.vs/Bank.Api
/Bank.Api/Bank.Api/bin/Debug/net8.0
/Bank.Api/.vs/ProjectEvaluation
/angular-bank-app/.vscode
/CoreBanksApp/.vs/CoreBanksApp
/CoreBanksApp/CoreBanksApp/obj
/CoreBanksApp/CoreBanksApp/bin/Debug/net8.0
